@model Web.ViewModels.SectionListViewModel
@using Core.Enums.SectionType
@{
    ViewData["Title"] = "Our Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/OurService.css" />
}
<div class="container-fluid our-services">
    @if (Model.PagesWithSections != null)
    {
        foreach (var pageWithSections in Model.PagesWithSections)
        {
            int count = 0;
            foreach (var parentSections in pageWithSections.ParentSections)
            {
                if (parentSections.SectionTypeId == (int)SectionTypes.BannerContent)
                {
                    <div class="row centered facilites-heading">
                        <div class="col-lg-8">
                            <div class="row px-4">
                                <div class="col-lg-12 text-center p-0">
                                    <div class="header-txt header-text-background">
                                        <h1>@Html.DisplayFor(modelItem => parentSections.TitleLarge)</h1>
                                        <div class="padding-for-mobile">
                                            @Html.Raw((@parentSections.Content))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-12 titlelargeontop text-center">
                            @if (parentSections.TitleLargeOnTop)
                            {
                                <h1>@Html.DisplayFor(modelItem => parentSections.TitleLarge)</h1>
                                <h4 style="color:#2F8F9C;">@Html.DisplayFor(modelItem => parentSections.TitleSmall)</h4>
                            }
                            else
                            {
                                <h4 style="color:#2F8F9C;" class="m-0">@Html.DisplayFor(modelItem => parentSections.TitleSmall)</h4>
                                <h1 class="m-0">@Html.DisplayFor(modelItem => parentSections.TitleLarge)</h1>
                            }
                            <div class="content">
                                @Html.Raw((@parentSections.Content))
                            </div>
                        </div>
                    </div>
                }
                if (parentSections.SectionTypeId == (int)SectionTypes.BannerContent)
                {
                    <div class="row centered padding-bottom facilites">
                        <div class="col-lg-8">
                            <div class="row px-4">
                                @foreach (var sections in pageWithSections.Sections)
                                {
                                    if (sections.ParentSectionId == parentSections.Id)
                                    {
                                        <div class="col-lg-3 card">
                                            <div class="icon-title">
                                                <img class="img-fluid" src="@Html.DisplayFor(modelItem =>sections.Image.ImageUrl)" alt="">
                                                <div class="card-body">
                                                    <h5 class="card-title">@Html.DisplayFor(modelItem => sections.TitleLarge)</h5>
                                                    <div class="card-text">
                                                        @Html.Raw((@sections.Content))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                if (parentSections.SectionTypeId == (int)SectionTypes.CardWithOutBackground && count == 1)
                {
                    <div class="row middled services-section card-padding">
                        @foreach (var sections in pageWithSections.Sections)
                        {
                            if (sections.ParentSectionId == parentSections.Id)
                            {
                                <div class="col-lg-3 card-padding">
                                    <div class="card">
                                        <img class="card-img-top border-redious" src="@Html.DisplayFor(modelItem =>sections.Image.ImageUrl)" alt="">
                                        <div class="card-body">

                                            <p class="image-bottom-text">@Html.DisplayFor(modelItem => sections.Image.BottomText)</p>
                                            @if (sections.TitleLargeOnTop)
                                            {
                                                <h3 class="card-title text-left titlelarge">@Html.DisplayFor(modelItem => sections.TitleLarge)</h3>
                                                <h5 class="card-subtitle text-left">@Html.DisplayFor(modelItem => sections.TitleSmall)</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-subtitle text-left titlelarge">@Html.DisplayFor(modelItem => sections.TitleSmall)</h5>
                                                <h3 class="card-title text-left">@Html.DisplayFor(modelItem => sections.TitleLarge)</h3>
                                            }
                                            <div class="content">
                                                @Html.Raw((@sections.Content))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                if (parentSections.SectionTypeId == (int)SectionTypes.CardWithOutBackground && count == 2)
                {
                    <div class="row awards-section middled">
                        @foreach (var sections in pageWithSections.Sections)
                        {
                            if (sections.ParentSectionId == parentSections.Id)
                            {
                                <div class="col-lg-2 card-padding">
                                    <div class="icon-title">
                                        <img class="card-img-top border-redious img-center" src="@Html.DisplayFor(modelItem =>sections.Image.ImageUrl)" alt="">
                                        <p class="m-0">@Html.DisplayFor(modelItem => sections.Image.BottomText)</p>
                                        @*@if (sections.TitleLargeOnTop)
                                            {
                                                <h3 class="card-title text-left pt-4">@Html.DisplayFor(modelItem => sections.TitleLarge)</h3>
                                                <h5 class="card-subtitle text-left">@Html.DisplayFor(modelItem => sections.TitleSmall)</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-subtitle text-left pt-4">@Html.DisplayFor(modelItem => sections.TitleSmall)</h5>
                                                <h3 class="card-title text-left">@Html.DisplayFor(modelItem => sections.TitleLarge)</h3>
                                            }*@
                                        <div class="content">
                                            @Html.Raw((@sections.Content))
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                count++;
            }
        }
    }
</div>

