@model Web.ViewModels.SectionListViewModel
@{
    ViewData["Title"] = "ShowNewsDetails";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@section Styles{
    <style>
        .add-section form, .update-section form {
            width: 100%;
            display: inline-block;
        }

        .hidden-field {
            width: 80%;
        }
    </style>
}

<!-- Modal -->
@await Html.PartialAsync("~/Views/Image/_ImagePopupModal.cshtml")


<div class="row edit-section p-5">
    <div class="col-lg-12">
        @using (Html.BeginForm("UpdateNews", "UploadNews", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="heading">
                <h1>Update News</h1>

                @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        @Model.SuccessMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        @Model.ErrorMessage
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>

            <fieldset class="border p-4">
                <legend class="w-auto pl-4 pr-4 text-left">News Details</legend>
                <div class="form-group">
                <div class="form-group d-inline-flex w-75 pr-3">
                    @Html.TextBoxFor(m => m.NewsDetails.Title, new { @class = "form-control", placeholder = " News Title" })
                    @Html.ValidationMessageFor(m => m.NewsDetails.Title)
                </div>
                </div>
                <div class="form-group" id="imagethumL">
                    <button class="btn btn-info" disabled id="largeImageBtn">Large Image</button><br />
                    <img src="@Url.Content(Model.NewsDetails.LargeImageUrl)" class="img-fluid py-4" alt="">
                    <span class="delete"><img src="/images/deleteIcon.png" class="img-fluid deleteBtn" alt=""></span>
                </div>
                <div class="form-group" id="imagethumM">
                    <button class="btn btn-info"disabled id="mediumImageBtn">Medium Image</button><br />
                    <img src="@Url.Content(Model.NewsDetails.MediumImagUrl)" class="img-fluid py-4" alt="">
                    <span class="delete"><img src="/images/deleteIcon.png" class="img-fluid deleteBtn" alt=""></span>

                </div>
                <div class="form-group" id="imagethumS">
                    <button class="btn btn-info" disabled id="smallImageBtn">Small Image</button><br />
                    <img src="@Url.Content(Model.NewsDetails.SmallImageUrl)" class="img-fluid py-4" alt="">
                    <span class="delete"><img src="/images/deleteIcon.png" class="img-fluid deleteBtn" alt=""></span>

                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.NewsDetails.LargeImageUrl)
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.NewsDetails.MediumImagUrl)
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.NewsDetails.SmallImageUrl)
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.NewsDetails.Id)
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(m => m.NewsDetails.Content, new { @class = "form-control", placeholder = "Content", @rows = 6 })
                    @Html.ValidationMessageFor(m => m.NewsDetails.Content)
                </div>
                <button type="submit" class="btn btn-info" style="float: right;">Update</button>
            </fieldset>
            <br />
            <br />

        }

    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var clickedBtn = '';

            //Remove image from Form on click
            $(document).on('click', '.deleteBtn', function () {

                var clickedDelBtn = $(this).parent().parent().prop('id');
                $(this).parent().siblings('.img-fluid').remove();
                $(this).parent().remove();

                if (clickedDelBtn == "imagethumL") {
                    $('#NewsDetails_LargeImageUrl').prop('value', '')
                    $('#largeImageBtn').prop('disabled', false);
                }
                else if (clickedDelBtn == "imagethumM") {
                    $('#NewsDetails_MediumImagUrl').prop('value', '')
                    $('#mediumImageBtn').prop('disabled', false);
                }
                else if (clickedDelBtn == "imagethumS") {
                    $('#NewsDetails_SmallImageUrl').prop('value', '')
                    $('#smallImageBtn').prop('disabled', false);
                }
            });
            //image selection popup
            $('#largeImageBtn, #mediumImageBtn,#smallImageBtn').on('click', function (e) {
                e.preventDefault();
                $('#imagePopup').appendTo("body").modal('show');
                clickedBtn = $(this).prop('id');//get clicked button id
            });
             //image on click
            $(document).on('click', '.img-wrap img', function () {
                id = $(this).prop('id');
                src = $(this).prop('src');

                var newHtml = "";
                newHtml += '<img id="' + id + '" src="' + src + '" class="img-fluid py-4" alt="">';
                newHtml += '<span class="delete"><img src="/images/deleteIcon.png" class="img-fluid deleteBtn" alt=""></span>';
                
                if (clickedBtn == "largeImageBtn") {
                    $('#NewsDetails_LargeImageUrl').prop('value', src)
                    $('#largeImageBtn').prop('disabled', true);
                    $("#imagethumL").append(newHtml);
                }
                if (clickedBtn == "mediumImageBtn") {
                    $('#NewsDetails_MediumImagUrl').prop('value', src)
                    $('#mediumImageBtn').prop('disabled', true);
                    $("#imagethumM").append(newHtml);
                }
                if (clickedBtn == "smallImageBtn") {
                    $('#NewsDetails_SmallImageUrl').prop('value', src)
                    $('#smallImageBtn').prop('disabled', true);
                    $("#imagethumS").append(newHtml);
                }

                $('#imagePopup').modal('hide');
            });
            //get selected album images
            $('.album-wrap button').on("click", function (e) {
                e.preventDefault();
                $(".album-wrap button").removeClass('active');
                $(this).toggleClass('active');

                $('#addImageBtn').attr('disabled', false);
                album = $(this).attr('id');
                //console.log(album);
                //put albam name to add image form
                $('#albumName').val(album);
                //get all images for selected album
                $.ajax({
                    url: '@Url.Action("GetSelectedImageList", "Image")',
                    type: "GET",
                    data: { Album: album },
                    beforeSend: () => {
                        //$('.section-list.lds-spinner').css('display', 'inline-block');
                    },
                    success: response => {
                        //console.log(response);
                        var newHtml = "";
                        $.each(response, function (index, value) {
                            if (value.imageUrl) {
                                newHtml += '<div class="col-lg-3 img-wrap">';
                                newHtml += '<img src="' + value.imageUrl + '" id="' + value.id + '" class="img-fluid img-thumbnail" alt="">';
                                newHtml += '</div>';
                            }
                            else {
                                newHtml += '<div class="col-lg-12 img-wrap">';
                                newHtml += '<h1 class="text-center">No Images To Select!<h1>';
                                newHtml += '</div>';
                            }

                        });
                       $("#imageView").html(newHtml);
                    },
                    error: xhr => {
                        alert("Something went wrong, please contact Admin");
                        console.error(xhr);
                    },
                    complete: () => {
                        //$('.section-list.lds-spinner').css('display', 'none');
                    }
                });
            });
            //End get selected album images

        });
    </script>
}
